body {
  /* background-color: antiquewhite; */
  background-color: white;
  font-family: "Poppins", sans-serif;
}

/* the NAVBAR STYLES */
/* updated logo vallues */
.logo {
  height: auto;
  width: 9rem;
  padding-top: 10px;
}

.navBar {
  float: right;
}

.nav-item,
.nav-link {
  font-size: 20px;
  font-weight: 800;
  color: #ff0080 !important;
}
/* whats app floating icon */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}


.customNavLink {
  font-size: 22px;
  /* color: #0174bc !important; */
  color: #ff0080 !important;
}

/* .customNav{
  background-color: transparent !important;
  z-index: 1;
  width: 100%;
  position: absolute;  
} */
.customNav {
  background-color: #ffff !important;
  height: 100%;
}

.navParent {
  position: relative;
  background-color: aqua;
  height: 4rem;
}

/* END OF THE NAVBAR */

/* START OF THE BANNER HOME SECTION CAROUSEL BANNER */
.bannerimg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carouselBannersOne {
  height: 100%;
}

.bannerItemDiv {
  position: relative !important;
}

.exploreBtn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 145px;
  right: 200px;
  height: 100px;
  font-size: 40px;
  text-decoration: none;
  width: 300px;
  background: #0074bd;
  color: #ffff;
  font-weight: bold;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}
.exploreBtn:hover{
  text-decoration: none;
  color: #ffff;
}

/* END OF THE BANNER HOME SECTION CAROSEL BANNER */




/* START OF THE BANNER TWO */
.bannerTwoFont {
  font-size: 1.5rem;
  color: #ffff;
}

.bannerCard {
  height: 70%;
  display: flex;
  background-color: #ff0080;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  text-align: justify;
}

.bannerTwoImg {
  width: 100%;
  height: 50rem;
  object-fit: cover;
}

.gridImg {
  height: 30rem;
  width: 100%;
  object-fit: cover;
}

.aboutusSection {
  /* background-color: #ed1566; */
  background-color: #e9001f;
}

.aboutusimg {
  width: 100%;
  height: 100%;
}

.aboutus {
  font-size: 18px;
}

.videoHeading {
  font-size: 3rem !important;
  font-weight: 900;
}

.footerBottleImg {
  height: 100%;
  width: 100%;
}

.formdiv {
  text-align: left;
}

.formInp {
  height: 50px;
  border: 1px solid #f3f3f3;
  border-radius: 0px;
  outline: none;
}

.submitButton {
  background-color: #e9001f;
  color: #f3f3f3;
  font-weight: bold;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}

.iframeVideo {
  width: 100%;
  height: 100%;
}

.mapFrame {
  width: 100%;
  height: 100%;
}

.reachUs {
  font-weight: 800;
}

.socialIcon {
  height: 50px;
  width: 50px;
}




.carousel-item{
  height: 55rem;
}


.carouselImg {
  margin-top: 60px;
  height: 40rem;
  width: 80rem;

  /* margin-left: 70px; */
  /* object-fit: cover; */
}

.carouselContainer {
  /* margin-top: 8rem;
  margin-bottom: 8rem; */
}


/* achivement section */

.achivementSection {}

.carouselBannersAchivement {
  height: 35rem;
  border: 1px solid red;
}

.bannerimgAchivement {
  height: 35rem;
  object-fit: cover;
}

.railwayImgAch {
  height: 100%;
  width: 90%;
  object-fit: cover;
}

.railwayRailImg {
  height: 108%;
  width: 100%;
  object-fit: cover;
}

/* end of the achivement section */


/* slcik carousel arrow */

.slick-next .slick-arrow {}

.slick-next {
  right: -5px !important;
}


.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 40px;
  color: #ff0080 !important;
  line-height: 1;
  opacity: .75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* responsive  */

@media (max-width: 768px) {
  .exploreBtn {
    transform: translate(100px, 132px);
    height: 40px;
    width: 100px;
    font-size: 15px;
  }

  .railwayRailImg {
    height: 275px;
    margin-bottom: 20px;
  }
  .bannerimg {
    /* height: 100%; */
    /* width: 100%; */
    /* object-fit: cover; */
    height: auto;
    width: auto;
    object-fit: contain;
}

  .railwayImgAch {
    height: 275px;
    margin-top: 20px;
  }

  .carouselImg {
    /* height: 30rem;
    width: 80rem; */
    margin-left: 0px;
    height: 180px;
    width: 100%;
  }
  .carousel-item{
    height: 14rem;
  }

  .slick-next,
  .slick-arrow {
    display: none;
  }

  slick-prev,
  .slick-arrow {
    display: none !important;
  }
}