body {
  /* background-color: antiquewhite; */
  font-family: "Poppins", sans-serif;
}

/* updated logo vallues */
.logo {
  height: auto;
  width: 10rem;
}
.navBar {
  float: right;
}

.bannerimg {
  height: 50rem;
  width: 100%;
  object-fit: cover;
}

.bannerTwoFont{
  font-size: 1.5rem;
}

.bannerTwoImg {
  width: 100%;
  height: 40rem;
  object-fit: cover;
}
.gridImg {
  height: 30rem;
  width: 100%;
  object-fit: cover;
}
.aboutusSection {
  /* background-color: #ed1566; */
  background-color: #e9001f;
}
.aboutusimg {
  width: 100%;
  height: 100%;
}
.aboutus {
  font-size: 18px;
}

.videoHeading {
  font-size: 3rem !important;
  font-weight: 900;
}

.footerBottleImg {
  height: 100%;
  width: 100%;
}

.formdiv {
  text-align: left;
}

.formInp {
  height: 50px;
  border: 1px solid #f3f3f3;
  border-radius: 0px;
  outline: none;
}

.submitButton {
  background-color: #e9001f;
  color: #f3f3f3;
  font-weight: bold;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}
.iframeVideo {
  width: 100%;
  height: 100%;
}
.mapFrame {
  width: 100%;
  height: 100%;
}

.reachUs {
  font-weight: 800;
}
.socialIcon {
  height: 50px;
  width: 50px;
}

.customNavLink{
  font-size: 25px;
  color: #0174bc !important;
}
.customNav{
  background-color: transparent !important;
  z-index: 1;
  width: 100%;
  position: absolute;
}
.navParent{
  position: relative;
}

.carouselImg{
  height: 20rem;
  width: 20rem;
  object-fit: cover;
}

.carouselContainer{
  /* margin-top: 8rem;
  margin-bottom: 8rem; */
}
