body {
  /* background-color: antiquewhite; */
  font-family: "Poppins", sans-serif;
}
  /* body{
    background-color: #6A3FB6;
  } */
  .aboutUsContainer{
    background-color: #ED1566;
  }
.logo {
    height: 50px;
    width: 50px;
  }
  .navBar {
    float: right;
  }
  .nav-item,
  .nav-link {
    font-size: 20px;
    font-weight: 800;
    color: #ff0080 !important;
  }
  .logo {
    height: auto;
    width: 9rem;
    padding-top: 10px;
  }
  .aboutUsBackground{
  }

  .imgAboutUs{
    height: 100%;
    width: 100%;
  }

  .secondAUSection{
    background-color: #ED1566;
  }

  /* about us banner img */
  .auContainer{
    /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4); */
    background-color: white;
  }
  .auBannerImg{
    height: auto;
    width: 80%;
    /* object-fit: cover; */
  }

  .waterImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .aboutUsContent{
    font-size: 20px;
    text-align: justify;
  }

  .secondAUSection{
    font-size: 20px;
    text-align: justify;
  }