body {
  /* background-color: antiquewhite; */
  font-family: "Poppins", sans-serif;
}
  /* body{
    background-color: #6A3FB6;
  } */
  .aboutUsContainer{
    background-color: #ED1566;
  }
.logo {
    height: 50px;
    width: 50px;
  }
  .navBar {
    float: right;
  }

  .aboutUsBackground{
  }

  .imgAboutUs{
    height: 100%;
    width: 100%;
  }

  .secondAUSection{
    background-color: #ED1566;
  }

  /* about us banner img */
  .auContainer{
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  }
  .auBannerImg{
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
  }